.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    background: var(--card);
    padding: 40px;
    border-radius: 12px;
    width: 380px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

   .auth-card h1 {
        color: var(--primary);
        margin-bottom: 5px;
    }

    .auth-card h2 {
        margin-bottom: 20px;
        color: var(--subtext);
    }

    .auth-card form {
        display: flex;
        flex-direction: column;
    }

    .auth-card input {
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid var(--border);
        border-radius: 8px;
    }

        .auth-card input:focus {
            border-color: var(--accent);
            outline: none;
        }

    .auth-card button {
        padding: 12px;
        border-radius: 8px;
        background: var(--primary);
        color: white;
        font-weight: bold;
    }

        .auth-card button:hover {
            background: var(--primary-dark);
        }

.error {
    color: red;
    margin-bottom: 10px;
}
